.card__image {
  margin-top: 12px;
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  margin: 12px 0;
  display: flex;
  max-width: 413px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  max-width: 413px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__content {
    max-width: 288px;
  }
  .card__title {
    font-size: 16px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
