.footer {
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  color: #212121;
}

.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}
